CTFD_API_KEY="ctfd_abcd123..."
CTFD_API_URL="https://ctf.example.com"
DISCORD_CHANNEL_ID=123456789012345678
DISCORD_BOT_TOKEN="YOUR_DISCORD_BOT_TOKEN"
MESSAGE_THUMBNAIL="https://ctf.example.com/files/123abc/image.png"

CHECK_INTERVAL_SECONDS=5
ANNOUNCE_DELAY_SECONDS=5
FIRST_BLOOD_DB_PATH="first_bloods.sqlite3"
DISPLAY_TIMEZONE="Europe/Paris"

# Optional
SOLVE_FETCH_CONCURRENCY=8
REQUEST_TIMEOUT_SECONDS=15
CTFD_SITE_PASSWORD=""
